name: Tests
on:
  pull_request:
  push:
    branches:
      - main
  schedule:
    # Weekly.
    - cron: '0 0 * * 0'

jobs:
  exercises:
    name: Check exercises
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
      - name: Install CoffeeScript
        run: npm install -g jasmine-node coffeescript
      - name: Run tests
        run: ./bin/test-exercises.sh