name: Tests
on:
  pull_request:
  push:
    branches:
      - main
  schedule:
    # Weekly.
    - cron: '0 0 * * 0'

jobs:
  exercises:
    name: Check exercises
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
      - name: Install CoffeeScript
        run: npm install -g jasmine-node coffeescript
      - name: Run tests
        run: ./bin/test-exercises.sh