name: Tests
on:
  pull_request:
  push:
    branches:
      - main
  schedule:
    # Weekly.
    - cron: '0 0 * * 0'

jobs:
  exercises:
    name: Check exercises
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3
      - name: Install CoffeeScript
        run: npm install -g jasmine-node coffeescript
      - name: Run tests
        run: ./bin/test-exercises.sh